{% extends 'pageLayout.html.twig' %}

{% block main %}
<div class=container>
{% block title %}{{ parent() }} - Shopping Cart{% endblock %}
	{% if products is empty %}
		<div class="card">
  			<div class="card-header">
    			Featured
  			</div>
		<div class="card-body">
			<h5 class="card-title">{{ 'empty_shopping_cart'|trans() }}</h5>
			<a href="{{ url('products')}}" class="btn btn-primary">Retour à la liste produits</a>
		</div>
		</div>
	{% else %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th class="table-col-price">{{ 'price'|trans() }}</th>
            <th class="table-col-quantity">{{ 'quantity'|trans() }}</th>
            <th class="table-col-total">{{ 'total'|trans() }}</th>
			<th class="table-col-remove"></th>
        </tr>
        </thead>
        <tbody>
		{% for id, item in products %}
            {% set product = item.product %}
            <tr>
                <td class="table-col-title">{{ product.getTitle() }}</td>
                <td class="table-col-price">{{ product.price |number_format(2) }} €</td>
                
				<td class="table-col-quantity">
                    <div class="product-quantity">
                        <input type="number" step="1" max="99" min="1" value={{ item.quantity }} size="4">
                    </div>
                </td>
				
				{# <td class="table-col-quantity">{{ item.quantity }}</td> #}
                <td class="table-col-total">
                    {{ (item.price *  item.quantity)|number_format(2) }} €
                </td>
				<td><a href="{{ url('remove_product', { product_id: id }) }}" class="btn-floating waves-effect waves-light grey"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
		
        </tbody>
    </table>

	<div class="row">
		<table class="table totals">
			<tbody>
				<tr>
					<td class="text-right"><strong>{{ 'total'|trans() }}</strong></td>
					<td class="text-right total-value" id="cart-subtotal">{{ total|number_format(2) }} €</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endif %}	
{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  	<script>
	$(document).ready(function() {
    	console.log( "ready!" );

		/* Set rates + misc */
		var fadeTime = 300;
     
		/* Assign actions */
		$('.product-quantity input').change( 
			function() {
				updateQuantity(this);
		});
     
	 	 /* Update quantity */
		function updateQuantity(quantityInput)
		{
			/* Calculate line price */
			console.log(quantityInput.value);
			var quantity = quantityInput.value;
			var productRow = $(quantityInput).parent().parent().parent();
			var price = parseFloat(productRow.children('.table-col-price').text());
			var linePrice = price * quantity;
			
			console.log(productRow.children('.table-col-price'));
			/* Update line price display and recalc cart totals */
			productRow.children('.table-col-total').each(
				function () {
					$(this).fadeOut(fadeTime, 
						function() {
						$(this).text(linePrice.toFixed(2));
						//recalculateCart();
						$(this).fadeIn(fadeTime);
						}
					);
				}
			);  
		}
     
     
    /* Recalculate cart */
    function recalculateCart()
    {
      var subtotal = 0;
       
      /* Sum up row totals */
      $('.product').each(function () {
        subtotal += parseFloat($(this).children('.product-line-price').text());
      });
           
      /* Update totals display */
      $('.totals-value').fadeOut(fadeTime, function() {
        $('#cart-subtotal').html(subtotal.toFixed(2));
        if(subtotal == 0){
          $('.checkout').fadeOut(fadeTime);
        }else{
          $('.checkout').fadeIn(fadeTime);
        }
        $('.totals-value').fadeIn(fadeTime);
      });
    }
     
     
   
    });
	
	
	
	</script>
{% endblock %}

{% endblock %}
